*.pyc
.idea
**.orig
experiments/
/app/.vs
/.vs/
/app/BehaviorAnalysis.pyproj.user
/app/data/test_fixtures/intelflows.features2.csv
/app/tests/.pytest_cache
/app/tests/features.json
/app/tests/test_features_module.py
/app/data/test_fixtures/quotes_model.pkl
**/.pytest_cache
/app/tests/ml_tests/models
/app/ml/nlp/models/ted500
venv/
.vscode
.pylintrc
/app/data/template_project/
/app/data/test_fixtures/
/app/ml/nlp/models/1543501620/
