slackclient
tensorflow==2.4.0
Keras==2.1.6
scikit-learn==0.19.1
numpy==1.14.2
pymongo==3.6.1
featuretools
dotmap==1.2.20
mock==2.0.0
cython==0.28.1
auto-sklearn==0.3.0
peewee==3.5.0
psycopg2==2.7.4
ptvsd==3.0.0
mongomock
pytest==3.6.2
boto3==1.7.48
pyowm==2.8.0
nose
flask==1.0
setuptools
pydevd==1.2.0
lockfile
joblib
psutil
pyyaml
liac-arff
tpot
flask-cors
redis
s3fs